/* Reset b치sico */
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700;800&display=swap');

    * {
      box-sizing: border-box;
      font-family: 'Barlow Semi Condensed', sans-serif;
    }

/* Contenedor general */
   body {
      min-height: 100vh;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #f5f6fa;
    }


header {
  margin-bottom: 1rem;
  text-align: center;
}

  .container{
      margin-bottom: 130px;
    }

       header .logo {
      width: 250px;
      margin-bottom: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }



/* Caja central */
.box {
  
  border: 1px solid #ddd;
    background: #fff;
      border-radius: 10px;
      
      border-color: #B3B3B3;
      width: 420px;       /* m치s grande */
      padding: 40px 30px; /* m치s espacio interno */
      margin-bottom: 12px;
  max-width: 400px;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
 .icon-check {
      font-size: 60px;
      color: #4caf50;
      margin-bottom: 10px;
    }
.box h2 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0 0 21px;
}
   .box p {
      font-size: 15px;
      color: #000000;
      line-height: 1.5;
    }


/* Footer */
   footer {
      text-align: center;
      margin-top: 8px;  /* m치s junto al cuadro */
    }
  footer p {
      font-size: 14px;
      color: #767676;
      font-weight: 500;
    }

    footer a {
      color: #0066ff;
      text-decoration: none;
    }
    footer a:hover {
      text-decoration: underline;
    }

    .wave-section {
      width: 100vw;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: -1;
      text-align: center;
    }

        .wave-section img {
      width: 100vw;
      height: 230px;
      max-width: 100%;
      display: block;
    }


        /* --- Responsive --- */
    @media (max-width: 780px) {
      .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 30px 20px;
      }
      .left h1 {
        font-size: 22px;
      }
      .left img {
        max-width: 200px;
      }
      .right {
        width: 100%;
      }
      .register-box {
        width: 68%;
      }
      .olas {
        margin: 0px 0px 120px 0px;
      }
       .wave-section {
    height: 50px;
    overflow: hidden;
    margin-top: auto;
    background: transparent;
    }
      .header{
        margin: 0px 0px -120px 0px;
      }
    }
/* Curva inferior
body::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to right, #1a73e8, #3a82f7);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
} */
